.landing-header{
    display: flex;
    align-items: center;
    position: absolute;
    h1{
        font-size: 2.5rem;
    }
}

.landing-CTA{
    display: flex;
    justify-content: center;
    text-align: center;
    img{
        height: 75vh;
        margin-top: 1%;
        opacity: .6;
    }
    h2, h3{
        position: absolute;
        z-index: 1;
    }
    h2{
        font-size: 5rem;
        top: 35%;
        @media @tablet{
           top: 20%;
        }
    }
    h3{
        font-size: 2rem;
        top: 50%;

    }
}

.landing-buttons{
    margin-top: 10vh;
    display: flex;
    justify-content: space-evenly;
    button{
        .orange-button();
    }
    @media @phone{
        flex-direction: column;
        align-items: center;
        button{
            margin-top: 5%;
        }
    }
}
