.landing-header{
    display: flex;
    align-items: center;
    h1{
        font-size: 3rem;
    }
}

.landing-CTA{
    display: flex;
    justify-content: center;
    // position: relative;
    text-align: center;
    svg{
        height: 70vh;
    }
    h2, h3{
        position: absolute;
    }
    h2{
        font-size: 5rem;
        top: 40%;
        @media @tablet{
           top: 20%;
        }
    }
    h3{
        font-size: 3rem;
        top: 55%;

    }
}

.landing-buttons{
    display: flex;
    justify-content: space-evenly;
    button{
        .orange-button();
    }
    @media @phone{
        flex-direction: column;
        align-items: center;
        button{
            margin-top: 5%;
        }
    }
}