.post-div {
   // border: 1px solid white;
   width: 60%;
   margin: 0 auto;
   margin-top: 7%;
   text-align: center;

   .post-btn-div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 12%;
      height: 5vh;

      .post-btn {
         cursor: pointer;
         width: 40px;
         height: 40px;
      }

      .update-btn {
         width: 35px;
         height: 35px;
      }

   }

   .post-top-div {
      width: 99%;
      margin: 2% auto;
      display: flex;
      justify-content: space-between;

      .post-h3 {
         font-size: 1.5rem;
         color: orangered;
         margin: 0;
      }
   }

   .post-div1,
   .post-div2 {
      background: rgba(255, 255, 255, 0.85);
      text-align: left;
      padding: 1% 5%;

      h3,
      h4 {
         color: orangered;
      }
   }

   .post-div1 {
      height: 7vh;
      padding-top: 2%;
      padding-bottom: 1%;

      h3 {
         margin: 0;
      }
   }

   .post-div2 {
      margin-top: 2%;
      height: 30vh;
   }

   .post-link {
      color: orangered;
   }
}

.post-and-back {
   .customFlex();
   height: 70vh;
}