.home-header{
    display: flex;
    justify-content: center;
    align-items: center;
    svg{
        width: 3%;
        margin-right: .5%;
    }
}
.saved-or-post-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
    .saved-or-post-sub-container{
        background-color: #36363681;
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            width: 50%;
        }
        h2{
            font-size: 2rem;
        }
        p{
            width: 70%;
            text-align: center;
            font-size: 1.2rem;
        }
    }
}

.logout-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orangered;
    width: 10%;
    border-radius: 44px;
    position: absolute;
    bottom: 15px;
    p{
        margin-right: 10%;
    }
    
}