.home-header{
    .customFlex();
    position: absolute;
    top: 40px;
    left: 50%;
}

.saved-or-post-container{
    .customFlex(@justify:space-evenly);
    margin-top: 10%;
    .saved-or-post-sub-container{
        .customFlex(@direction:column);
        background-color: #36363681;
        width: 30%;
        h2{
            font-size: 2rem;
        }
        p{
            width: 70%;
            text-align: center;
            font-size: 1.2rem;
        }
    }
    .inner-button{
        .orange-button();
        margin-bottom: 10%;
    }
}

.logout-button{
    .orange-button();
    .customFlex();
    position: absolute;
    bottom: 15px;
    left: 15px;
    padding: .5%;
    width: 15%;
    img{
        margin-left: 5%;
    }
}

