.saved-list {
   border: 2px solid white;
   width: 80%;
   margin: 0 auto;
   margin-top: 10%;
   padding: 2%;
   // text-align: center;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   align-items: center;
}