body {
  background-image: url('../assets/memphis-mini-dark.png');
  background-size: 1000px;
  background-color: black;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button {
  font-family: 'Poppins', sans-serif;
  color: white;
}
.landing-header {
  display: flex;
  align-items: center;
  position: absolute;
}
.landing-header h1 {
  font-size: 2.5rem;
}
.landing-CTA {
  display: flex;
  justify-content: center;
  text-align: center;
}
.landing-CTA img {
  height: 75vh;
  margin-top: 1%;
  opacity: 0.6;
}
.landing-CTA h2,
.landing-CTA h3 {
  position: absolute;
  z-index: 1;
}
.landing-CTA h2 {
  font-size: 5rem;
  top: 35%;
}
@media (max-width: 1000px) {
  .landing-CTA h2 {
    top: 20%;
  }
}
.landing-CTA h3 {
  font-size: 2rem;
  top: 50%;
}
.landing-buttons {
  margin-top: 10vh;
  display: flex;
  justify-content: space-evenly;
}
.landing-buttons button {
  background-color: orangered;
  border-radius: 44px;
  font-size: 1.5rem;
  padding: 3.5%;
  border: none;
  width: 300px;
}
@media (max-width: 600px) {
  .landing-buttons {
    flex-direction: column;
    align-items: center;
  }
  .landing-buttons button {
    margin-top: 5%;
  }
}
.login-container {
  margin: 10% auto;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #36363681;
  width: 40%;
}
.login-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-container form input {
  width: 25vw;
  padding: 2%;
  font-size: 1.5rem;
  margin: 2%;
  opacity: 0.75;
}
.login-container form input[type='submit'] {
  background-color: orangered;
  border-radius: 44px;
  font-size: 1.5rem;
  padding: 3.5%;
  border: none;
  width: 300px;
  color: white;
}
.login-container form textarea {
  padding: 2%;
  opacity: 0.75;
  font-size: 1.5rem;
  margin-top: 2.5%;
  width: 25vw;
}
.login-container h2 {
  font-size: 2.5rem;
  margin-bottom: 0;
  color: orangered;
}
@media (max-width: 1000px) {
  .login-container {
    width: 85%;
  }
  .login-container form input {
    width: 50vw;
  }
  .login-container form input[type='submit'] {
    width: 80%;
  }
}
.login-and-back-container {
  display: flex;
  align-items: center;
  height: 70vh;
}
.login-and-back-container img {
  position: absolute;
  left: 20%;
  top: 30%;
}
@media (max-width: 1000px) {
  .login-and-back-container img {
    left: 0;
  }
}
@media (max-width: 600px) {
  .login-and-back-container img {
    display: none;
  }
}
.home-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-header svg {
  width: 3%;
  margin-right: 0.5%;
}
.saved-or-post-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5%;
}
.saved-or-post-container .saved-or-post-sub-container {
  background-color: #36363681;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.saved-or-post-container .saved-or-post-sub-container img {
  width: 50%;
}
.saved-or-post-container .saved-or-post-sub-container h2 {
  font-size: 2rem;
}
.saved-or-post-container .saved-or-post-sub-container p {
  width: 70%;
  text-align: center;
  font-size: 1.2rem;
}
.logout-button {
  background-color: orangered;
  border-radius: 44px;
  font-size: 1.5rem;
  padding: 3.5%;
  border: none;
  width: 300px;
  position: absolute;
  bottom: 15px;
  left: 15px;
  padding: 0.5%;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logout-button img {
  margin-left: 5%;
}
.inner-button {
  background-color: orangered;
  border-radius: 44px;
  font-size: 1.5rem;
  padding: 3.5%;
  border: none;
  width: 300px;
  margin-bottom: 10%;
}
.login-container.signup-container {
  height: 550px;
  justify-content: space-evenly;
  margin: 10% auto;
}
